html {
    scroll-behavior: smooth;
}

body{
    margin:0;
    font-family: 'Raleway', sans-serif;
    /*background-color: #E4E5E6;*/
    /*background-color: #767676; */
    /*background-image: linear-gradient(to right, #2A2A2A, #A1A1A1);*/
    background-color: #EAE9E9;
}

.headerText{
    color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.3em;
    margin-bottom: 0;
}
.headerImage {
    background-image: url("https://piotrjacak.github.io/images/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    max-width: 100%;
    height: auto;
    background-size: cover;
}

.navbar{
    background-color: black;
    color: white;
    margin-top:0;
    padding:0;
    text-align: center;
    opacity: 0.75;
}

.navButton {
    background-color: black;
    border: none;
    color: white;
    padding: 15px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    width: 15%;
    opacity: 0.75;
    transition-duration: 0.4s;
    cursor: pointer;
}
.navButton:hover {
    background-color: #A1A1A1;
}

/* FOOTER */
.footer{
    text-align: center;
    padding: 1px;
    background-color: black;
    color: white;
}


