/* PORTFOLIO */

.mainPortfolio {
    height: auto;
    text-align: center;
    /*background-color: #E4E5E6;*/
    /* background-color: #767676; */
    /*background-image: linear-gradient(to right, #2A2A2A, #A1A1A1);*/
    background-color: #EAE9E9;
}

.joker {
    width: 94%;
    height: 300px;
    background-image: url('https://piotrjacak.github.io/images/joker.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    position: center;
    margin-top: 50px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #2A2A2A;
    filter: brightness(70%);
    transition-duration: 0.5s;
    transition: transform .5s ease;
}
.joker:hover{
    filter: brightness(100%);
    transform: scale(1.03);
}
.jokerVideo{
    width: 92%;
    height: 400px;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 50px;
}

.vilnius {
    width: 94%;
    height: 300px;
    background-image: url('https://piotrjacak.github.io/images/vilnius.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    position: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #2A2A2A;
    filter: brightness(70%);
    transition-duration: 0.5s;
    transition: transform .5s ease;
}
.vilnius:hover{
    filter: brightness(100%);
    transform: scale(1.03);
}
.vilniusVideo{
    width: 92%;
    height: 400px;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 50px;
}

.azyl {
    width: 94%;
    height: 300px;
    background-image: url('https://piotrjacak.github.io/images/azyl2.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    position: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #2A2A2A;
    filter: brightness(70%);
    transition-duration: 0.5s;
    transition: transform .5s ease;
}
.azyl:hover{
    filter: brightness(100%);
    transform: scale(1.03);
}
.azylVideo{
    width: 92%;
    height: 400px;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 50px;
}

.rome {
    width: 94%;
    height: 300px;
    background-image: url('https://piotrjacak.github.io/images/P1040804.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #2A2A2A;
    filter: brightness(70%);
    transition: transform .5s ease;
    transition-duration: 0.5s;
}
.rome:hover{
    filter: brightness(100%);
    transform: scale(1.03);
}
.romeVideo{
    width: 92%;
    height: 400px;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 50px;
}
.copenhagen {
    width: 94%;
    height: 300px;
    background-image: url('https://piotrjacak.github.io/images/copenhagen.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #2A2A2A;
    filter: brightness(70%);
    transition-duration: 0.5s;
    transition: transform .5s ease;
}
.copenhagen:hover{
    filter: brightness(100%);
    transform: scale(1.03);
}
.copenhagenVideo{
    width: 92%;
    height: 400px;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 50px;
}
.tatraMountains {
    width: 94%;
    height: 300px;
    background-image: url('https://piotrjacak.github.io/images/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #2A2A2A;
    background-size: cover;
    filter: brightness(70%);
    transition: transform .5s ease;
    transition-duration: 0.5s;
}
.tatraMountains:hover{
    filter: brightness(100%);
    transform: scale(1.03);
}
.tatraMountainsVideo{
    width: 92%;
    height: 400px;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 50px;
}
.suzuka {
    width: 94%;
    height: 300px;
    background-image: url('https://piotrjacak.github.io/images/miniatura2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    position: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #2A2A2A;
    filter: brightness(70%);
    transition-duration: 0.5s;
    transition: transform .5s ease;
}
.suzuka:hover{
    filter: brightness(100%);
    transform: scale(1.03);
}
.suzukaVideo{
    width: 92%;
    height: 400px;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 50px;
}
.madness{
    width: 94%;
    height: 300px;
    background-image: url('https://piotrjacak.github.io/images/123210800_2791194261124352_5675566567328469580_n.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #2A2A2A;
    filter: brightness(70%);
    transition-duration: 0.5s;
    transition: transform .5s ease;
}
.madness:hover{
    filter: brightness(100%);
    transform: scale(1.03);
}
.madnessVideo{
    width: 92%;
    height: 400px;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 50px;
}
.pizza {
    width: 94%;
    height: 300px;
    background-image: url('https://piotrjacak.github.io/images/pizza.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #2A2A2A;
    filter: brightness(70%);
    transition-duration: 0.5s;
    transition: transform .5s ease;
}
.pizza:hover{
    filter: brightness(100%);
    transform: scale(1.03);
}
.pizzaVideo{
    width: 92%;
    height: 400px;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 50px;
}
.decyzja {
    width: 94%;
    height: 300px;
    background-image: url('https://piotrjacak.github.io/images/decyzja.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 60px;
    border-style: solid;
    border-width: 1px;
    border-color: #2A2A2A;
    filter: brightness(70%);
    transition-duration: 0.5s;
    transition: transform .5s ease;
}
.decyzja:hover{
    filter: brightness(100%);
    transform: scale(1.03);
}
.decyzjaVideo{
    width: 92%;
    height: 400px;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 50px;
}
.videoText {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-top: 55px;
    padding-bottom: 40px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.3em;
    position: absolute;
    filter: brightness(100%)
}