/* INDEX */


.main_index {
    height: auto;
    text-align: center;
    /*background-image: linear-gradient(to right, #2A2A2A, #A1A1A1);*/
    background-color: #EAE9E9;
}
.photosHome {
    width: 98%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.area1 {
    width: 66.6%;
    height: 850px;
    margin: 0;
    float: left;
    background-image: url('https://piotrjacak.github.io/images/zdjecie7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    transition-duration: 0.4s;
}
.area1:hover {
    filter: brightness(60%)
}
.area2 {
    width: 33.3%;
    height: 850px;
    margin: 0;
    display: inline-block;
    background-image: url('https://piotrjacak.github.io/images/zdjecie1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    transition-duration: 0.4s;
}
.area2:hover {
    filter: brightness(60%)
}
.area3 {
    width: 100%;
    height: 850px;
    margin: auto;
    background-image: url('https://piotrjacak.github.io/images/zdjecie6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    transition-duration: 0.4s;
}
.area3:hover {
    filter: brightness(60%)
}
.area4 {
    width: 33.3%;
    height: 850px;
    margin-top: 3px;
    float: left;
    background-image: url('https://piotrjacak.github.io/images/zdjecie3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    transition-duration: 0.4s;
}
.area4:hover {
    filter: brightness(60%)
}
.area5 {
    width: 66.6%;
    height: 850px;
    margin-top: 3px;
    display: inline-block;
    background-image: url('https://piotrjacak.github.io/images/zdjecie9.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    transition-duration: 0.4s;
}
.area5:hover {
    filter: brightness(60%)
}
.area6 {
    width: 100%;
    height: 850px;
    margin: auto;
    background-image: url('https://piotrjacak.github.io/images/zdjecie8.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    transition-duration: 0.4s;
}
.area6:hover {
    filter: brightness(60%)
}
.area7 {
    width: 33%;
    height: 850px;
    float:left;
    margin-top: 3px;
    background-image: url('https://piotrjacak.github.io/images/zdjecie2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    transition-duration: 0.4s;
}
.area7:hover {
    filter: brightness(60%)
}
.area8 {
    width: 33%;
    height: 850px;
    display: inline-block;
    margin-top: 3px;
    background-image: url('https://piotrjacak.github.io/images/zdjecie4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    transition-duration: 0.4s;
}
.area8:hover {
    filter: brightness(60%)
}
.area9 {
    width: 33%;
    height: 850px;
    display: inline-block;
    margin-top: 3px;
    background-image: url('https://piotrjacak.github.io/images/zdjecie5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    transition-duration: 0.4s;
}
.area9:hover {
    filter: brightness(60%)
}